@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 258 100% 87%;
    --primary-foreground: 259 58% 28%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 40 30.7% 15.9%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 270 11% 79%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0 98%;
    --primary-foreground: 0 0 27%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 40 30.7% 15.9%;
  }
}

@layer base {
  .indicator {
    @apply relative inline-flex max-w-max;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .shimmer-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }
  .shimmer-wrapper-dark-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      hsl(var(--primary)) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  .shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      rgba(100, 80, 80, 0.1) 50%,
      rgba(245, 245, 245, 0) 100%
    );

    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      hsla(var(--primary)) 50%,
      rgba(245, 245, 245, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  @keyframes shimmer {
    0% {
      background-position: -250%;
    }
    100% {
      background-position: 250%;
    }
  }

  .shimmer-animation {
    @apply shimmer-wrapper dark:shimmer-wrapper-dark;
  }
  .shimmer-animation-primary {
    @apply shimmer-wrapper-primary dark:shimmer-wrapper-dark-primary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
