@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Stalemate";
  src: url("/fonts/Stalemate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 324 9% 34%;
    --card: 257 6% 22%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 239 86% 74%;
    --primary-foreground: 100 100% 100%;
    --secondary: 270 67% 47%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 324 100% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 339 90% 51%;
    --destructive-foreground: 0 85.7% 97.3%;
    --warning: 37 91% 55%;
    --warning-foreground: 0 0% 98%;
    --success: 146 79% 44%;
    --success-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 40 30.7% 15.9%;
    --radius: 0.75rem;

    --question-correct: 146 79% 44%;
    --question-incorrect: 339 90% 51%;

    --answers-in-row: 2;
    --answers-in-row-mobile: 2;

    --players-in-row: 2;
    --players-in-row-mobile: 2;

    --answers-in-row-landing: 2;
    --answers-in-row-landing-mobile: 2;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply title-main text-primary;
  }
  h2 {
    @apply title-secondary text-primary;
  }

  h3 {
    @apply title-tertiary text-primary;
  }

  .background-gradient {
    @apply bg-gradient-to-tl from-[hsla(288,78%,93%,1)] via-[hsla(288,28%,93%,1)] to-[hsla(276,100%,99%,1)];
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .title-main {
    @apply font-bold text-[40px] leading-[50px];
  }
  .title-secondary {
    @apply font-bold text-[32px] leading-[40px];
  }
  .title-tertiary {
    @apply font-bold text-[24px] leading-[24px] tracking-[0.5px];
  }
  .card {
    @apply h-[480px] w-[300px] rounded-lg bg-card border-[1px] border-primary dark:border-foreground;
  }

  .gradient-purple {
    @apply bg-gradient-to-r from-[hsla(239,86%,74%,1)] to-[hsla(252,88%,74%,1)];
  }

  .gradient-purple-to-b {
    @apply bg-gradient-to-b from-[hsla(239,86%,74%,1)] to-[hsla(252,88%,74%,1)];
  }

  .gradient-purple-to-b-80 {
    @apply bg-gradient-to-b from-[hsla(239,86%,74%,0.8)] to-[hsla(252,88%,74%,0.8)];
  }

  .text-primary-gradient {
    @apply gradient-purple bg-clip-text text-transparent;
  }
}
