@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Stalemate";
  src: url("/fonts/Stalemate-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 257 6% 22%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 239 86% 74%;
    --primary-foreground: 0 0% 95%;
    --secondary: 270 67% 47%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 339 90% 51%;
    --destructive-foreground: 0 85.7% 97.3%;
    --warning: 37 91% 55%;
    --warning-foreground: 0 0% 98%;
    --success: 146 79% 44%;
    --success-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 40 30.7% 15.9%;
    --radius: 0.75rem;
  }

  /* .battery-save {
    --primary: 0 0 98%;
    --primary-foreground: 0 0 27%;
    --foreground: 0 0 98%;
    --background: 20 14.3% 4.1%;
  } */

  .blossom {
    --primary: 282 41% 72%;
    --primary-foreground: 0 0 98%;
    --background: 282 33% 92%;
    --muted-foreground: 0 0% 58%;
    --card: 0 0% 98%;
  }

  .sun {
    --primary: 40 65% 62%;
    --primary-foreground: 0 0 98%;
    --background: 40 100% 94%;
    --muted-foreground: 0 0% 58%;
    --card: 0 0% 98%;
  }

  .midnight {
    --primary: 224 48% 15%;
    --primary-foreground: 0 0 98%;
    --background: 219 45% 68%;
    --muted-foreground: 0 0% 98%;
    --card: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply title-main text-primary font-montserrat;
  }
  h2 {
    @apply title-secondary text-primary font-montserrat;
  }

  h3 {
    @apply title-tertiary text-primary font-montserrat;
  }

  .title-main {
    @apply font-bold text-[40px] leading-[50px];
  }
  .title-secondary {
    @apply font-bold text-[32px] leading-[40px];
  }
  .title-tertiary {
    @apply font-bold text-[24px] leading-[24px] tracking-[0.5px];
  }
  .card {
    @apply h-[480px] w-[300px] rounded-lg bg-card border-[1px] border-primary dark:border-foreground;
  }

  .gradient-purple {
    @apply bg-gradient-to-r from-[hsla(239,86%,74%,1)] to-[hsla(252,88%,74%,1)];
  }
}
